{
    "SPARK_NLP_LICENSE": "YOUR_SPARK_NLP_LICENSE_JWT_TOKEN_HERE",
    "SECRET": "YOUR_JSL_PYPI_SECRET_TOKEN_HERE",
    "JSL_VERSION": "6.2.0",
    "SPARK_OCR_LICENSE": "YOUR_SPARK_OCR_LICENSE_JWT_TOKEN_HERE",
    "SPARK_OCR_SECRET": "YOUR_OCR_PYPI_SECRET_TOKEN_HERE",
    "OCR_VERSION": "6.1.0",
    "PUBLIC_VERSION": "6.2.0",
    "AWS_ACCESS_KEY_ID": "YOUR_AWS_ACCESS_KEY_ID_HERE",
    "AWS_SECRET_ACCESS_KEY": "YOUR_AWS_SECRET_ACCESS_KEY_HERE",
    "AWS_SESSION_TOKEN": "YOUR_AWS_SESSION_TOKEN_HERE"
}
