{
  "SPARK_NLP_LICENSE": "<YOUR_LICENSE_JWT>",
  "SECRET": "<JSL_VERSION-HASH e.g. 6.3.0-05bdf8e84f...>",
  "JSL_VERSION": "6.3.0",
  "PUBLIC_VERSION": "6.3.2",
  "AWS_ACCESS_KEY_ID": "<AWS_KEY_FOR_MODEL_DOWNLOADS>",
  "AWS_SECRET_ACCESS_KEY": "<AWS_SECRET_FOR_MODEL_DOWNLOADS>"
}
