# JSL License Credentials
# Get these from your license.json file
SPARK_NLP_LICENSE=your_license_key_here
SECRET=your_secret_here
AWS_ACCESS_KEY_ID=your_aws_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_here
