.text_input {
    min-height: 200px !important;
}
.form-control {
    font-size: 12px !important;
}

.html_widget {
    border: dashed;
    margin: 25px 25px;
}

.text-webkit-center {
    text-align: -webkit-center !important;
}